body {
    background-image: url('https://www.shutterstock.com/image-illustration/aesthetic-background-form-plants-empty-260nw-2190062247.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
h1{
    font-family:cursive;
    font-size: 50px;
}

p{
    font-family: monospace;
    font-size: 20px;
}

div {
    width: 50%;
    height: 200px; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}