body {
    background-image: url('imagenes/13859605_5355886.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
h1{
    font-family:cursive;
    font-size: 50px;
}

p{
    font-family: monospace;
    font-size: 20px;
}

div {
    width: 50%;
    height: 200px; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}

button{
    background-color: rgb(193, 236, 197);
    padding: 1.5rem 1rem 1.5rem 1rem;
    border-radius: 10%;
    width: 100%;
    font-size: 110%;
    border-color: rgb(0, 0, 0);
    border-width: 7%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}